.text-small {
  font-size: 0.25em;
}

.form fieldset {
  width: 600px;
}

.form__message {
  width: 600px;
}

.form__message p {
  font-size: 20px;
  margin-bottom: 2px;
}

.form .required {
  color: red;
}

.form--signing {
  min-height: 70vh;
}

main {
  min-height: 100vh;
}

.cart {
  position: relative;
}

.cart__count {
  top: -6px;
  right: -2px;
  position: absolute;
  transform: translate(50%, -50%);
}

