.form{
    $desktopFormWidth: 600px;
    fieldset{
        width: $desktopFormWidth;
    } 
    &__message{
        width: $desktopFormWidth;
        p{
            font-size: 20px;
            margin-bottom: 2px;
        }
    }
    .required{
            color: red;
    }
    &--signing{
        min-height: 70vh;
    }
}