.form{
    $desktopFormWidth: 600px;
    fieldset{
        width: $desktopFormWidth;
    } 
    .message{
        width: $desktopFormWidth;
        p{
            font-size: 20px;
            margin-bottom: 2px;
        }
    }
    .required{
            color: red;
    }
}