@import 'text-size';
@import 'forms';

main{
    min-height: 100vh;
}

.cart{
    position: relative;
    &__count{
        top: -6px;
        right: -2px;
        position: absolute;
         transform: translate(50%, -50%);
    }
}
